@font-face {
  font-family: 'gokalppoOS';
  src: url('./assets/fonts/081be1114762b654-s.p.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --os-bg: #008080;
  --win-gray: #c0c0c0;
  --win-blue: #000080;
  --win-text: #000000;
  --win-white: #ffffff;
  --win-border-light: #ffffff;
  --win-border-dark: #808080;
  --win-border-black: #000000;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'RetroOS', sans-serif;
  overflow: hidden;
  background-color: var(--os-bg);
  -webkit-font-smoothing: none;
  font-smoothing: none;

  /* Disable Text Selection Globally */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Allow selection in specific interactive elements */
input,
textarea,
[contenteditable="true"],
.selectable-text {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  cursor: text;
}

* {
  box-sizing: border-box;
}

/* --- Windows 98 Styled Scrollbars --- */

/* 1. Kaydırma çubuğunun genel genişliği */
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background-color: #dfdfdf;
  /* Windows 98 klasik gri arkalık */
}

/* 2. Kaydırma çubuğunun yolu (Track) */
::-webkit-scrollbar-track {
  background-color: #dfdfdf;
  border: 1px solid #ffffff;
  /* Hafif bir derinlik efekti */
}

/* 3. Hareket eden parça (Thumb/Handle) */
::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border: 2px solid;
  /* Windows 98'in o meşhur 3D bevel (eğim) efekti */
  border-color: #ffffff #808080 #808080 #ffffff;
}

/* Üzerine gelindiğinde (Hover) */
::-webkit-scrollbar-thumb:hover {
  background-color: #d0d0d0;
}

/* 4. Köşelerdeki düğmeler (Buttons) - İsteğe bağlı */
::-webkit-scrollbar-button {
  background-color: #c0c0c0;
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-color: #ffffff #808080 #808080 #ffffff;
  display: block;
}

/* --- Scrollbar Arrows (Buttons) --- */

/* Yukarı Oku */
::-webkit-scrollbar-button:vertical:decrement {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'><path d='M5 2 L2 7 L8 7 Z' fill='black'/></svg>");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px;
  /* Okun boyutunu buradan ayarlayabilirsin */
}

/* Aşağı Oku */
::-webkit-scrollbar-button:vertical:increment {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'><path d='M5 8 L2 3 L8 3 Z' fill='black'/></svg>");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px;
}

/* Yatay Sol Oku */
::-webkit-scrollbar-button:horizontal:decrement {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'><path d='M2 5 L7 2 L7 8 Z' fill='black'/></svg>");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px;
}

/* Yatay Sağ Oku */
::-webkit-scrollbar-button:horizontal:increment {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'><path d='M8 5 L3 2 L3 8 Z' fill='black'/></svg>");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px;
}